<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-WuNwrGaxadSYFFJV5COpwQGAWXj46_I</string>
	<key>GCM_SENDER_ID</key>
	<string>603208825849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.triangleinteractive.package</string>
	<key>PROJECT_ID</key>
	<string>package-flutter-rewrite</string>
	<key>STORAGE_BUCKET</key>
	<string>package-flutter-rewrite.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603208825849:ios:c6312e7f13956661891b28</string>
</dict>
</plist>