<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>731781815007-m9jepjvj8kcne9akssjah0jq2qtc9qkn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731781815007-m9jepjvj8kcne9akssjah0jq2qtc9qkn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>731781815007-6phju19k7ss0qe669vs2qfq17c8eihb7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdXRmseIXBVACtTCPSsHAqUlBeSY9cN9w</string>
	<key>GCM_SENDER_ID</key>
	<string>731781815007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.triangle-interactive.package</string>
	<key>PROJECT_ID</key>
	<string>package-6031d</string>
	<key>STORAGE_BUCKET</key>
	<string>package-6031d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731781815007:ios:920a113015656c2ea0676a</string>
	<key>DATABASE_URL</key>
	<string>https://package-6031d.firebaseio.com</string>
</dict>
</plist>