name: Dart

on:
  pull_request:
    branches:
      - main

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.35.7"
          channel: "stable"
      - run: flutter --version

      - name: Install dependencies
        run: dart pub get

      - name: Verify formatting
        run: dart format --output=none --set-exit-if-changed .

      # - name: Create .env file
      #   uses: SpicyPizza/create-envfile@v2.0.2
      #   with:
      #     envkey_SERVER_URL: ""
      #     envkey_MAP_ACCESS_KEY: ""
      #     envkey_MAP_URL_DARK: ""
      #     envkey_MAP_URL_WHITE: ""
      #     envkey_WIREDASH_SECRET_TOKEN: ""
      #     envkey_WIREDASH_PROJECT_ID: ""
      #     envkey_SERVER_CERTIFICATE: ""
      #     file_name: .env

      - name: Create .env.{staging,production}
        run: |
          touch .env.staging
          touch .env.production

      - name: Run build_runner
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Analyze project source
        run: dart analyze

      - name: Analyze project with `custom_lint`
        run: dart run custom_lint

      # Add tests later
      # - name: Run tests
      #   run: flutter test
